/* ====== Geral ======= */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body, html {
   height: 100%;
}

.erro {
   color: red;
   text-align: center;
}

.campo-vazio {
   text-align: center;
}
/* ====== form ======= */
.box {
   padding: 50px 10px 10px 10px;
}

.resultados,
.buscador {
   border: 2px solid #000;
   border-radius: 2px;
   max-width: 500px;
   margin: 0 auto;
   padding: 10px;
}

.border {
   max-width: 500px;
   margin: 0 auto;
   border: 3px solid orange;
   border-radius: 4px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.label {
   margin-top: 10px;
}

.label label {
   color: #505050;
}

.input input {
   outline: none;
   border: 1px solid darkgray;
   padding: 5px 5px 5px 15px;
   border-radius: 4px;
   width: 100%;
}

.input input::placeholder {
   color: darkgrey;
}

.btn {
   text-align: center;
}

.btn button {
   border: none;
   background-color: orange;
   color: white;
   padding: 5px 15px;
   border-radius: 20px;
   margin-top: 10px;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
   cursor: pointer;
   transition: background-color .2s ease-in-out;
}

button:hover {
   background-color: rgb(241, 188, 88);
}

.btn button:disabled {
   background-color: gray;
   cursor: not-allowed;
}

/* ====== Resultados ======= */

.resultados {
   margin-top: 50px;
   padding: 10px;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.resultados li {
   list-style: none;
   margin-bottom: 8px;
}